.main-menu-btn {
  color: #ffdc82;
  background-color: #ad8c36;
  border-color: #ad8c36;
}

.main-menu-btn:hover,
.main-menu-btn:focus,
.main-menu-btn:active,
.main-menu-btn.active,
.open .dropdown-toggle.main-menu-btn {
  color: #ffdc82;
  background-color: #7a6632;
  border-color: #ad8c36;
}

.main-menu-btn:active,
.main-menu-btn.active,
.open .dropdown-toggle.main-menu-btn {
  background-image: none;
}

.main-menu-btn.disabled,
.main-menu-btn[disabled],
fieldset[disabled] .main-menu-btn,
.main-menu-btn.disabled:hover,
.main-menu-btn[disabled]:hover,
fieldset[disabled] .main-menu-btn:hover,
.main-menu-btn.disabled:focus,
.main-menu-btn[disabled]:focus,
fieldset[disabled] .main-menu-btn:focus,
.main-menu-btn.disabled:active,
.main-menu-btn[disabled]:active,
fieldset[disabled] .main-menu-btn:active,
.main-menu-btn.disabled.active,
.main-menu-btn[disabled].active,
fieldset[disabled] .main-menu-btn.active {
  background-color: #ad8c36;
  border-color: #ad8c36;
}

.main-menu-btn .badge {
  color: #ad8c36;
  background-color: #ffdc82;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
  outline: 0 !important;
  outline-offset: 0 !important;
  background-image: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
